//$secondary-color: hsl(127, 66%, 28%);

.favorite-movies-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 30px;
    gap: 20px; 
    margin-left: 20px;
    margin-right: 20px;
}

.favorite-movies__title {
    padding-top: 20px;
    color: white;
}

img {
    height: 400px;
    width: 275px;
    margin: auto;
}

mat-card-title {
    font-size: 24px;
    text-align: left;
}
  
mat-card-subtitle {
    font-size: 16px;
    padding-bottom: 10px;
    color: white;
}

.movie-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 30px);
    flex-shrink: 0;
    margin-bottom: 30px; 
    border: 2px solid black;
    background: linear-gradient(to right, #000000, #434343);
    color: white;
  }

// further actions and buttons on the movie cards (director, genre, synopsis)

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}
  
button {
    font-size: 18px;
}

mat-icon {
    padding: 10px;
    font-size: 28px;
}

.fav-icon {
    color: white;
}

